Repository HANIUM-GROWUP/growthmate-be, pull requests merged in 2023-08, with the labels that each got.

#2 Member, Company 도메인 엔티티 생성
  growthmate-core/src/main/java/com/growup/growthmate/company/domain/Company.java
  growthmate-core/src/main/java/com/growup/growthmate/member/domain/Member.java
  growthmate-core/src/main/resources/db/migration/V1__init.sql
Labels: 설정

#3 게시글 생성 API 구현
  growthmate-api/src/main/java/com/growup/growthmate/command/api/PostV1Controller.java
  growthmate-api/src/main/java/com/growup/growthmate/command/dto/PostCreateRequest.java
  growthmate-common/src/testFixtures/java/com/growup/isolation/DatabaseManager.java
  growthmate-common/src/testFixtures/java/com/growup/isolation/TestIsolationExtension.java
  growthmate-core/src/main/java/com/growup/growthmate/post/application/PostService.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/Post.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/PostRepository.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/value/CompanyId.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/value/PostContent.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/value/Title.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/value/WriterId.java
  growthmate-core/src/main/java/com/growup/growthmate/post/dto/PostCreateCommand.java
  growthmate-core/src/main/java/com/growup/growthmate/post/dto/PostMapper.java
  growthmate-core/src/main/java/com/growup/growthmate/post/exception/PostException.java
  growthmate-core/src/main/resources/db/migration/V1__init.sql
  growthmate-core/src/test/java/com/growup/growthmate/post/application/PostServiceTest.java
  growthmate-core/src/test/java/com/growup/growthmate/post/domain/value/PostContentTest.java
  growthmate-core/src/test/java/com/growup/growthmate/post/domain/value/TitleTest.java
  growthmate-core/src/test/resources/application.yml
  pull_request_template.md
Labels: 구현, api

#4 게시글 수정, 삭제 api 구현
  growthmate-api/src/main/java/com/growup/growthmate/command/api/PostV1Controller.java
  growthmate-api/src/main/java/com/growup/growthmate/command/dto/PostUpdateRequest.java
  growthmate-core/src/main/java/com/growup/growthmate/post/application/PostService.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/Post.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/PostRepository.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/value/PostContent.java
  growthmate-core/src/main/java/com/growup/growthmate/post/domain/value/Title.java
  growthmate-core/src/main/java/com/growup/growthmate/post/dto/PostDeleteCommand.java
  growthmate-core/src/main/java/com/growup/growthmate/post/dto/PostUpdateCommand.java
  growthmate-core/src/main/java/com/growup/growthmate/post/exception/PostException.java
  growthmate-core/src/main/resources/db/migration/V1__init.sql
  growthmate-core/src/test/java/com/growup/growthmate/post/application/PostServiceTest.java
  growthmate-core/src/test/java/com/growup/growthmate/post/domain/PostTest.java
  growthmate-core/src/test/java/com/growup/growthmate/post/domain/value/PostContentTest.java
  growthmate-core/src/test/java/com/growup/growthmate/post/domain/value/TitleTest.java
Labels: 구현, api

#9 서버 배포 및 cicd 구축
  .github/workflows/cd.yml
  Dockerfile
  build.gradle
  docker-compose-local.yml
  docker-compose.yml
  growthmate-api/build.gradle
  growthmate-api/gradle/wrapper/gradle-wrapper.properties
  growthmate-api/src/main/java/com/growup/growthmate/GrowthMateApiApplication.java
  growthmate-common/build.gradle
  growthmate-core/build.gradle
  growthmate-core/src/main/resources/db/migration/V1__init.sql
  settings.gradle
Labels: 설정, 구현

#8 로그인, 회원 정보 조회 및 수정 API 1차 수정본
  .github/workflows/cd.yml
  Dockerfile
  build.gradle
  growthmate-api/build.gradle
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/AuthConfig.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/LoginMemberResolver.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/authentication/OAuthLoginFailureHandler.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/authentication/OAuthLoginSuccessHandler.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/authentication/PrincipalOAuth2UserService.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/authoriization/JwtAuthorizationFilter.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/authoriization/UnAuthorizationEntryPoint.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/config/SecurityConfig.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/oauth/OAuth2Member.java
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/oauth/OAuthProvider.java
  growthmate-api/src/main/java/com/growup/growthmate/config/SwaggerConfig.java
  growthmate-api/src/main/java/com/growup/growthmate/member/api/MemberV1Controller.java
  growthmate-api/src/main/resources/application-local.yml
  growthmate-common/src/testFixtures/java/com/growup/growthmate/isolation/DatabaseManager.java
  growthmate-common/src/testFixtures/java/com/growup/growthmate/isolation/TestIsolation.java
  growthmate-common/src/testFixtures/java/com/growup/growthmate/isolation/TestIsolationExtension.java
  growthmate-core/build.gradle
  growthmate-core/src/main/java/com/growup/growthmate/auth/application/AuthService.java
  growthmate-core/src/main/java/com/growup/growthmate/auth/domain/MemberOAuthRepository.java
  growthmate-core/src/main/java/com/growup/growthmate/auth/dto/AuthorizationRequest.java
  growthmate-core/src/main/java/com/growup/growthmate/auth/dto/AuthorizationResponse.java
  growthmate-core/src/main/java/com/growup/growthmate/auth/dto/LoginRequest.java
  growthmate-core/src/main/java/com/growup/growthmate/auth/dto/LoginResponse.java
  growthmate-core/src/main/java/com/growup/growthmate/auth/token/JwtSupport.java
  growthmate-core/src/main/java/com/growup/growthmate/auth/token/JwtTokenProvider.java
  growthmate-core/src/main/java/com/growup/growthmate/auth/token/TokenPayload.java
  growthmate-core/src/main/java/com/growup/growthmate/member/application/MemberService.java
  growthmate-core/src/main/java/com/growup/growthmate/member/domain/Member.java
  growthmate-core/src/main/java/com/growup/growthmate/member/domain/MemberRepository.java
  growthmate-core/src/main/java/com/growup/growthmate/member/dto/MemberInfoResponse.java
  growthmate-core/src/main/java/com/growup/growthmate/member/dto/MemberRequest.java
  growthmate-core/src/main/java/com/growup/growthmate/member/dto/MemberUpdateInfoRequest.java
  growthmate-core/src/main/java/com/growup/growthmate/member/exception/MemberException.java
  growthmate-core/src/main/resources/db/migration/V1__init.sql
  growthmate-core/src/test/java/com/growup/growthmate/GrowthMateCoreApplication.java
  growthmate-core/src/test/java/com/growup/growthmate/auth/application/AuthServiceTest.java
  growthmate-core/src/test/java/com/growup/growthmate/auth/token/JwtSupportTest.java
  growthmate-core/src/test/java/com/growup/growthmate/auth/token/JwtTokenProviderTest.java
  growthmate-core/src/test/java/com/growup/growthmate/community/comment/application/CommentServiceTest.java
  growthmate-core/src/test/java/com/growup/growthmate/community/post/application/PostServiceTest.java
  growthmate-core/src/test/java/com/growup/growthmate/member/application/MemberServiceTest.java
  growthmate-core/src/test/java/com/growup/growthmate/member/domain/MemberNameTest.java
  growthmate-core/src/test/java/com/growup/growthmate/post/application/PostServiceTest.java
  growthmate-core/src/test/resources/application.yml
Labels: 구현, api
