Repository HANIUM-GROWUP/growthmate-be, pull requests merged in 2023-10, with the labels that each got.

#22 엑셀 DB 반영 트러블 슈팅 및 엑셀 업로드 저장소 생성
  growthmate-batch/src/main/java/com/growup/growthmate/batch/CompanyBatch.java
  growthmate-batch/src/main/java/com/growup/growthmate/support/XSSFRowUtils.java
  growthmate-batch/src/main/resources/application.yml
  growthmate-core/src/main/resources/db/migration/V3__company-update.sql
Labels: 설정, batch, 버그픽스

#23 Feature/company select all
  growthmate-api/src/main/java/com/growup/growthmate/company/api/CompanyV1Controller.java
  growthmate-api/src/main/java/com/growup/growthmate/company/application/CompanyService.java
  growthmate-api/src/main/java/com/growup/growthmate/company/dto/find/CompanyDetailRequest.java
  growthmate-api/src/main/java/com/growup/growthmate/company/dto/find/CompanyDetailResponse.java
  growthmate-api/src/main/java/com/growup/growthmate/company/dto/find/SortedCompanyRequest.java
  growthmate-api/src/main/java/com/growup/growthmate/company/dto/find/SortedCompanyResponse.java
  growthmate-api/src/main/java/com/growup/growthmate/company/mapper/CompanyMapper.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/CompanyRepository.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/detail/CompanyDetailRepository.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/detail/CompanyDetailRepositoryImpl.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/find/CompanyFindRepository.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/find/CompanyFindRepositoryImpl.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/find/CompanySortField.java
  growthmate-api/src/test/java/com/growup/growthmate/company/CompanyServiceTest.java
  growthmate-api/src/test/java/com/growup/growthmate/fixture/CompanyFixture.java
  growthmate-api/src/test/resources/company_fixture.sql
Labels: api

#27 Feature/company growth
  growthmate-api/src/main/java/com/growup/growthmate/company/api/CompanyV1Controller.java
  growthmate-api/src/main/java/com/growup/growthmate/company/application/CompanyService.java
  growthmate-api/src/main/java/com/growup/growthmate/company/dto/growth/CompanyGrowthResponse.java
  growthmate-api/src/main/java/com/growup/growthmate/company/mapper/CompanyMapper.java
  growthmate-api/src/main/java/com/growup/growthmate/company/mapper/SortedCompanyMapper.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/CompanyRepository.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/growth/CompanyGrowthRepository.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/growth/CompanyGrowthRepositoryImpl.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/growth/projection/CompanyGrowthProjection.java
  growthmate-api/src/test/java/com/growup/growthmate/company/CompanyServiceTest.java
  growthmate-api/src/test/resources/company_fixture.sql
  growthmate-core/src/main/java/com/growup/growthmate/company/domain/CompanyGrowth.java
  growthmate-core/src/main/resources/db/migration/V4__growth-industry-news.sql
  growthmate-core/src/main/resources/db/migration/V4_growth-industry-news.sql
Labels: api

#29 회사 성장 예측 데이터 DB 반영 Batch 구현
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/growth/CompanyGrowthRepositoryImpl.java
  growthmate-api/src/test/java/com/growup/growthmate/company/CompanyServiceTest.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/CompanyBatch.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/growth/CompanyGrowthDto.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/growth/CompanyGrowthProcessor.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/growth/CompanyGrowthReader.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/growth/CompanyGrowthWriter.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/growth/XSSRowToCompanyGrowthMapper.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/growth/repository/CompanyGrowthBatchRepository.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/growth/repository/CompanyGrowthRepository.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/growth/repository/CompanyGrowthTable.java
  growthmate-batch/src/main/java/com/growup/growthmate/support/XSSFRowUtils.java
  growthmate-batch/src/main/resources/application-local.yml
  growthmate-batch/src/test/java/com/growup/growthmate/batch/CompanyBatchTest.java
  growthmate-batch/src/test/java/com/growup/growthmate/batch/growth/CompanyGrowthProcessorTest.java
  growthmate-batch/src/test/java/com/growup/growthmate/batch/growth/CompanyGrowthReaderTest.java
  growthmate-batch/src/test/java/com/growup/growthmate/batch/growth/CompanyGrowthWriterTest.java
  growthmate-batch/src/test/java/com/growup/growthmate/fixture/CompanyGrowthFixtureRepository.java
  growthmate-batch/src/test/resources/application.yml
  growthmate-batch/src/test/resources/company-files/growth.xlsx
  growthmate-batch/src/test/resources/company-fixture.sql
Labels: db, batch

#30 CompanySentiment, CompanyNews 추가
  growthmate-core/src/main/java/com/growup/growthmate/company/domain/CompanyNews.java
  growthmate-core/src/main/java/com/growup/growthmate/company/domain/CompanySentiment.java
  growthmate-core/src/main/java/com/growup/growthmate/company/domain/Sentiment.java
  growthmate-core/src/main/resources/db/migration/V5__sentiment.sql
Labels: db

#31 feature : 언론 감정 분석 & 긍부정 뉴스 목록 API
  growthmate-api/src/main/java/com/growup/growthmate/company/api/CompanyV1Controller.java
  growthmate-api/src/main/java/com/growup/growthmate/company/application/CompanyService.java
  growthmate-api/src/main/java/com/growup/growthmate/company/dto/news/CompanyNewsRequest.java
  growthmate-api/src/main/java/com/growup/growthmate/company/dto/news/CompanyNewsResponse.java
  growthmate-api/src/main/java/com/growup/growthmate/company/dto/sentiment/CompanySentimentResponse.java
  growthmate-api/src/main/java/com/growup/growthmate/company/mapper/CompanyMapper.java
  growthmate-api/src/main/java/com/growup/growthmate/company/mapper/CompanyNewsMapper.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/CompanyRepository.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/news/CompanyNewsRepository.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/news/CompanyNewsRepositoryImpl.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/news/projection/CompanyNewsProjection.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/sentiment/CompanySentimentRepository.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/sentiment/CompanySentimentRepositoryImpl.java
  growthmate-api/src/main/java/com/growup/growthmate/company/repository/sentiment/projection/CompanySentimentProjection.java
  growthmate-api/src/test/java/com/growup/growthmate/company/CompanyServiceTest.java
  growthmate-api/src/test/resources/company_fixture.sql
Labels: api
