Repository HANIUM-GROWUP/growthmate-be, pull requests merged in 2023-11, with the labels that each got.

#37 fix: login api permit authentication
  growthmate-api/src/main/java/com/growup/growthmate/auth/security/config/SecurityConfig.java
  growthmate-api/src/main/java/com/growup/growthmate/member/api/MemberV1Controller.java
Labels: bug, api

#39 회사 업종 비교 엔티티 추가
  growthmate-batch/src/main/java/com/growup/growthmate/support/LocalDateTimeConverter.java
  growthmate-batch/src/main/java/com/growup/growthmate/support/exel/XSSFRowUtils.java
  growthmate-batch/src/test/java/com/growup/growthmate/support/LocalDateTimeConverterTest.java
  growthmate-core/src/main/java/com/growup/growthmate/company/domain/CompanyComparison.java
  growthmate-core/src/main/resources/db/migration/V7__company-comparision.sql
Labels: db, 버그픽스

#41 회사 업종 비교 배치 구현
  growthmate-api/src/main/java/com/growup/growthmate/auth/token/JwtTokenProvider.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/CompanyBatch.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/JobExecutionTimeListener.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/comparison/CompanyComparisonDto.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/comparison/CompanyComparisonProcessor.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/comparison/CompanyComparisonReader.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/comparison/CompanyComparisonWriter.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/comparison/XSSRowToCompanyComparisonMapper.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/comparison/repository/CompanyComparisonBatchRepository.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/comparison/repository/CompanyComparisonExistsRepository.java
  growthmate-batch/src/main/java/com/growup/growthmate/support/LocalDateTimeConverter.java
  growthmate-batch/src/main/resources/application-local.yml
  growthmate-batch/src/test/java/com/growup/growthmate/batch/comparison/CompanyComparisonProcessorTest.java
  growthmate-batch/src/test/java/com/growup/growthmate/batch/comparison/CompanyComparisonReaderTest.java
  growthmate-batch/src/test/java/com/growup/growthmate/batch/comparison/CompanyComparisonWriterTest.java
  growthmate-batch/src/test/java/com/growup/growthmate/fixture/CompanyComparisonFixtureRepository.java
  growthmate-batch/src/test/java/com/growup/growthmate/support/LocalDateTimeConverterTest.java
  growthmate-batch/src/test/resources/application.yml
  growthmate-batch/src/test/resources/company-files/comparison.xlsx
  growthmate-batch/src/test/resources/company-fixture.sql
  growthmate-core/src/main/java/com/growup/growthmate/company/domain/CompanyComparison.java
Labels: db, batch

#43 회사 존재 여부에 캐시 적용
  growthmate-api/src/main/java/com/growup/growthmate/query/repository/projection/PostPreviewProjection.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/company/repository/CompanyExistsJpaRepository.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/company/repository/CompanyExistsRepository.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/company/repository/CompanyExistsRepositoryImpl.java
  growthmate-batch/src/test/java/com/growup/growthmate/batch/company/CompanyProcessorTest.java
Labels: 리팩터링, batch, 버그픽스

#44 OOM 버그 및 게시글 길이 버그 수정 배포
  growthmate-api/src/main/java/com/growup/growthmate/query/repository/projection/PostPreviewProjection.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/company/repository/CompanyExistsJpaRepository.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/company/repository/CompanyExistsRepository.java
  growthmate-batch/src/main/java/com/growup/growthmate/batch/company/repository/CompanyExistsRepositoryImpl.java
  growthmate-batch/src/test/java/com/growup/growthmate/batch/company/CompanyProcessorTest.java
Labels: bug, api, batch
